<h1>Editing Event</h1>

<%= render "form", event_management: @event_management %>

<br>

<div>
  <%= link_to "Show this event management", @event_management , class:"btn btn-outline-success"%> |
  <%= link_to "Back to event managements", event_managements_path , class:"btn btn-outline-secondary" %>
</div>
<br/>