<p style="color: green"><%= notice %></p>

<h1 style="text-align:center;">Events</h1>

<%= link_to "New event ", new_event_management_path, class:"btn btn-outline-secondary", style:"margin-bottom:10px; margin-left:85%;" %>

<div id="event_managements">
  <% @event_managements.each do |event_management| %>
    <%= render event_management %>
    <p>
      <%= link_to "Show this event", event_management, class:"btn btn-outline-success" , style:"margin-top:10px;" %>
    </p>
  <% end %>
</div>


