<div class="container">
<h1>New event </h1>

<%= render "form", event_management: @event_management %>

<br>

<div>
  <%= link_to "Back to event managements", event_managements_path , class:"btn btn-outline-secondary" %>
</div>
</div>